body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    text-align: center;
    background-color: black;
   
}

.table {
    display: block;
    margin: 50 auto;
    border: solid 2px goldenrod;
    border-radius: 10px;
    background-image: url("images/table.png");
    width: 600px;
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
    font-size: 40px;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.playerBox {
    display: block;
    margin: 50 auto;
    width: 250px;
    border: solid 1px white;
    border-radius: 4px;
}

.codelink {
    color: goldenrod;
}

.codelink a {
    color: white;
    text-decoration: none;
}

.codelink a:hover {
    text-decoration: underline;
}